body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 40px;
}
h3 {
  display: flex;
  align-items: center;
}

footer {
  font-size: 14px;
  margin-top: 20px;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.current-weather-info p {
  font-size: 20px;
}
.weather-app {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 50px;
  width: 90%;
  max-width: 900px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-city {
  padding: 12px;
  border: none;
  border-radius: 25px;
  width: 70%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-button {
  padding: 12px 25px;
  background-color: #ffcc00;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-button:hover {
  background-color: #e6b800;
}
.current-weather-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  height: auto;
}
.right {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.current-weather-info p:first-of-type {
  margin-top: 0;
  text-align: center;
}
.weatherForecastContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.weatherForecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.emoji img {
  width: 50px;
  height: 50px;
}
